    <div id="header_wrap" class="outer">
        <header class="inner">
            <a id="forkme_banner" href="{{ site.project_url }}">View on GitHub</a>

            <h1 id="project_title">{% if page.path != 'index.md' %}<a id="project_home" href="/">{{ site.title }}</a>{% else %}{{ site.title }}{% endif %}</h1>
            <h2 id="project_tagline">{{ site.description }}</h2>

            <section id="downloads">
                <a class="zip_download_link" href="{{ site.project_url }}/zipball/master">Download this project as a .zip file</a>
                <a class="tar_download_link" href="{{ site.project_url }}/tarball/master">Download this project as a tar.gz file</a>
            </section>
            <ul id="menubar">
{% assign pagestree = site.pages | group_by:'dir' %}{% for branchname in site.menubar_items %}{% assign branchpath = branchname | prepend:'/' %}{% assign branchindex = branchname | append:'/index.md' %}{% assign branch = pagestree | where:'name',branchpath %}{% assign index = branch[0].items | where:'path',branchindex %}                <li><a href="{{ index[0].url }}">{{ index[0].title }}</a>{% if branch[0].items.size > 1 %}
                    <ul>
{% assign subpages = branch[0].items | sort:'name' | sort:'rank' %}{% for subpage in subpages %}{% if subpage.path != branchindex %}                        <li><a href="{{ subpage.url }}">{{ subpage.title }}</a></li>
{% endif %}{% endfor %}                    </ul>
                {% endif %}</li>
{% endfor %}            </ul>
        </header>
    </div>
